<div *ngIf="trackList">
    <div *ngFor="#track of trackList"  class="track-item row">
        <div class="col-sm-4">
            <dl class="dl-horizontal">
                <dt>Title</dt>
                <dd>{{ track.title }}</dd>
                <dt>Artist</dt>
                <dd>{{ track.artistName }}</dd>
                <dt>Duration</dt>
                <dd>{{ track.duration }} sec.</dd>
            </dl>
        </div>
        <div class="col-sm-8">
            <youtube-search [track]="track"></youtube-search>
        </div>
    </div>
</div>