<h3>Fetch a playlist or an album</h3>

<div id="searchBar">
    <div>
    <p>
        Type
        <select [ngModel]="listType" (ngModelChange)="updateExempleInput($event)">
            <option *ngFor="#container of containerList" [value]="container.value" >{{container.name}}</option>
        </select>
    </p>
    <p>
        Exemple:
        <select [(ngModel)]="id">
            <option *ngFor="#exemple of exempleByType" [value]="exemple.id" >{{exemple.name}}</option>
        </select>
    </p>
    <p>
        Identifiant
        <input [(ngModel)]="id" placeholder="id"/>
    </p>
    <p>
        <button (click)="fetchTracks()">Fetch</button>
    </p>
    </div>
    <div *ngIf="authService.currentUser.account">

    <p *ngIf="dzAlbums">
        Albums
        <select [ngModel]="currentAlbumInput" (ngModelChange)="updateAlbumInput($event)">
            <option *ngFor="#album of dzAlbums" [value]="album.id" >{{album.artist_name}}: {{album.title}}</option>
        </select>
    </p>
    <p *ngIf="dzPlaylists">
        Playlist
        <select [ngModel]="currentPlaylistInput" (ngModelChange)="updatePlaylistInput($event)">
            <option *ngFor="#playlist of dzPlaylists" [value]="playlist.id" >{{playlist.title}}</option>
        </select>
    </p>
    </div>
</div>
<my-container-display [container]="currentContainer"></my-container-display>
<my-track-index [trackList]="dzTrackList"></my-track-index>